doctype html
html
  head
    title Convoes
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel="stylesheet", href="/styles/main")
    script(src="/scripts/scroll")
  body
      
    h1 Convoes
    h2 Welcome, #{name}
    div(class="styleDiv")
      h2 Chat List
      ul(id=chatList class=halfWidth)
        each chat in chats
          li
            a(href=`/chats/${chat}`) #{chat}
            br
        
    
      form(action="/createchats" method="post")
        div
          label(for="chatname") Name:
          input(type="text" name="chatname" required)
        div
          label(for="password") Password:
          input(type="text" name="password" required)
        div
          button(type="submit") Submit
      p(id="responsedata")