doctype html
html
  head
    title Convoes
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel="stylesheet", href="/styles/main")
    script(src="/scripts/scroll")
  body
    div(id="dashHeader" class="styleDiv halfCentered")
      h1 Convoes
      hr
      h2 Welcome, #{name}
      div(class="halfCentered styleDiv centerContent")
        h2 Chat List
        ul
          each chat in chats
            li
              a(href=`/chats/${chat}`) #{chat}
              br
          
      
        form(action="/createchats" method="post")
          div
            label(for="chatname") Name:
            input(type="text" name="chatname" autocomplete="off" readonly 
  onfocus="this.removeAttribute('readonly');" required)
          div
            label(for="password") Password:
            input(type="password" autocomplete="off" readonly 
  onfocus="this.removeAttribute('readonly');" name="password" required)
          div
            button(type="submit") Submit
        p(id="responsedata")