doctype html
html
  head
    title Convoes
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel="stylesheet", href="/styles/main")
    script(src="/scripts/scroll")
  body
    div(id="dashHeader" class="styleDiv halfCentered")
      div(class="inline spaced spacedApartInner")
        h1 Convoes
        a(href="/settings")
          img(src="/assets/images/settings.png" width=20 size=20)

      hr
      h2 Welcome, #{name} | 
        a(href="/logout") Logout  
      div(class="halfCentered styleDiv centerContent")
        h2 Chat List
        div(class="styleDiv inline spacedApart")
          ul
            each chat in chats
              li
                div(class="inline spacedApart" id="chatList")
                  a(href=`/chats/${chat}` class="chatLink") #{chat}
                  form(method="post" style="border:0px;" action=`/deletechat/${chat}` display="block" class="inline")
                    input(type="hidden" name="extra_submit_param" value="extra_submit_value")
                    button(type="submit" style="border:0px;" name="submit_param" value="submit_value" class="link-button")
                      img(src="/assets/trashcan.png" class="trashcan")
                br
          
      
        form(action="/createchats" method="post")
          div
            label(for="chatname") Name:
            br
            input(type="text" name="chatname" autocomplete="off" readonly 
  onfocus="this.removeAttribute('readonly');" required)
          div
            label(for="password") Password:
            br
            input(type="password" autocomplete="off" readonly 
  onfocus="this.removeAttribute('readonly');" name="password" required)
          div
            button(type="submit") Submit
        p(id="responsedata")